/* CSS declarations go here */

.addJob {
	margin-top: 40px;
	padding: 10px;
}


.modal:not(.in) {
	z-index: -4;
}

#dropdown_menu{
	margin-bottom: 40px;
}

.requirements_checkbox {
	margin-top: 10px;
	margin-bottom: 10px;
}