/* CSS declarations go here */

.addJob {
	margin-top: 40px;
	padding: 10px;
}

.modal:not(.in) {
	z-index: -4;
}

.requirements_checkbox {
	margin-bottom: 10px;
}

.jumbotron {
	margin-top: 80px;
	background-color: lightgray;
	padding: 40px;
	border-radius: 5px;
}

body {
	background-color: red;
}

.navbar {
	margin-bottom: 40px;
}