/* CSS declarations go here */

.addJob {
/*	margin-top: 40px;*/
	padding: 10px;
}

.requirements_checkbox {
	margin-bottom: 10px;
}

.jumbotron {
	margin-top: 80px;
	background-color: lightgray;
	padding: 40px;
	border-radius: 5px;
}

body {
/*	background-color: #BDC8D8;*/

}

.navbar {
	margin-bottom: 40px;
	background-color: #413D3D;
	color: lightsteel;
}

#main {
/*	max-width: 986px;*/
	margin-left: auto;
	margin-right: auto;
	background-color: #C5E0DC;
	height: 900px;
	margin-top: 50px;
}

.left-panel, .right-panel {
/*		background-color: #BDC8D8;*/
}

.job-card, .pursuing-card {
	margin: 20px;
	border: solid gray 2px;
	padding: 10px;
	background-color: #8F9A9C;
	border-radius: 5px;
}

.job-card a, .pursuing-card a {
	color: white;
}

.job-card .btn, .pursuing-card .btn {
	float: right;
	margin-left: 10px;
}

.next-steps, .add-notes {

}

.position-info {

}

input {
	border-radius: 5px;
	padding-left: 10px;
}

.btn {
	margin-left:10px;
}

.interest-list-header, .pursuing-list-header {
	margin-left: 20px;
}
